body{
  background-image: url(disneycastelWR.jpg);
  background-repeat:no-repeat;
  background-position:top;                  /*center center;*/
  background-size: cover ;
  font-family: 'Noto Serif KR', serif;
}

h2{
  font-size: 600%;
  color:#F781F3;
}
img{
  max-width: 300px;
}
#test{
  float: right;
  margin-right: 50px;
  margin-top: 120px;
  padding-left: 5px;
  border: 2px solid gray;
  width:300px;
  height:180px;
  color: #BE81F7;
  font-size: 30px;
}
.box{
  margin-left: 60px;
}
.dropbtn{
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-width: 5px;
  border: none;
}

.dropdown {
  position: fixed;
  float:left;
  padding-top: 45px;;
  padding-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;  /*하위 메뉴 바탕색*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;  /*하위 글자색*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #585858;}
